@import "~styles/color.css";

.SidebarMenu {
  border-right: none;
  height: 100%;
  background: var(--color-primary);
}
.menuItem:hover {
  background: var(--color-primary-dark);
}
.menuItem .anticon {
  font-size: 3rem;
}
.collapse .menuItem .anticon {
  font-size: 4rem;
}
