.layout {
  background: white;
}
.title {
  font-weight: bold;
  font-size: 1.25rem;
}
.login {
  background: white;
  width: 400px;
  box-shadow: 0 0 4px 2px #ccc;
  margin: 5% auto 0;
}
.login .action :global(.ant-form-item) {
  margin-bottom: 6px;
}
