.headerBar {
  font-size: 0.75rem;
  background: var(--primary);
  background-size: cover;
  background-image: url(/img/bg-footer.jpg);
  background-position: bottom;
  display: flex;
  color: white;
  line-height: 32px;
  padding: 0 1rem;
}
.headerBar .right {
  font-size: 0.75rem;
  text-align: right;
}
.headerBar a {
  color: white;
}
.headerBar .menu > * {
  float: left;
}
.headerBar .lang .langItem {
  padding: 0 0.25rem;
  font-size: 0.75rem;
  color: white;
}
.headerBar .lang .divier {
  margin: 0 0.25rem;
}
