.header {
  margin-bottom: 12px;
  z-index: 1;
  box-shadow: 0 0 4px 2px #ccc;
}
.logo {
  text-align: center;
  padding: 0 1rem;
  height: 100%;
  line-height: 37px;
}
.logo img {
  width: 100%;
}
.userLogin {
  font-size: 16px;
  text-align: right;
  padding: 0 2rem;
}
.headerContainer {
  padding-top: 0.5rem;
  background: white;
}
