.App {
  background: #fff;
  min-height: 100vh;
}

.App .content {
  background: #fff;
  padding: 1rem;
  min-height: 280px;
}
.footer {
  text-align: right;
  padding: 10px 15px 20px;
  border-top: solid 1px #ddd;
  margin-top: 40px;
  background: #fafafa;
}
