/** Antd */
.ant-layout-content ul.ant-menu li.ant-menu-item i.anticon,
.ant-layout-content ul.ant-menu li.ant-menu-item span {
  color: #fff;
}
.ant-layout-content ul.ant-menu li.ant-menu-item.ant-menu-item-selected i.anticon,
.ant-layout-content ul.ant-menu li.ant-menu-item.ant-menu-item-selected span {
  color: rgb(53, 32, 32);
}
ul.ant-menu.ant-menu-horizontal{
  background-color: #eee;
}
.ant-layout{
  background: #fff;
}
.ant-page-header {
  background: #f7f7f7 !important;
}

/** React Table */
.ReactTable .rt-thead.-header{
  height: 30px;
}
.ReactTable .rt-tbody .rt-tr-group{
  border-bottom: 1px solid rgba(0,0,0,0.08);
}
