.banner {
  overflow: hidden;
  border: solid 0.75rem var(--primary-light);
  background: var(--primary);
}
.logo {
  padding: 0.75rem;
}
.logo img {
  width: 100%;
}
.sliderItem {
  height: 200px;
}
.sliderItem .title {
  color: white;
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
}
.indicator {
  padding: 0.75rem;
  margin-top: 3rem;
}
