.bannerIndicator {
  border-radius: 0.75rem;
  overflow: hidden;
}
.bannerIndicator .title {
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  background: var(--primary-lightest);
}
.bannerIndicator .table {
  background: white;
  width: 100%;
}
.bannerIndicator .table {
  color: var(--dark);
}
.bannerIndicator .table .danger {
  color: var(--danger);
}
