.currencyIndicator {
  height: 30px;
  overflow: hidden;
  position: relative;
  background: var(--primary-dark);
}
.currencyIndicator > div {
  height: 30px;
  overflow: hidden;
  position: absolute;
  display: flex;
  padding: 0.5rem 1rem;
  animation: marquee 40s linear infinite;
}
.currencyIndicator .item {
  cursor: default;
  color: #ccc;
  padding: 0 0.5rem;
  white-space: nowrap;
}
.currencyIndicator .item:hover {
  color: white;
}
@keyframes marquee {
  0% { left: 100%; right: -100%; }
  100% { left: -100%; right: 100%; }
}
