.dailyIndicator {
  padding: 0.5rem;
  background: white;
  margin-bottom: 0.5rem;
}
.title {
  background: var(--primary-lightest);
  font-weight: bold;
  padding: 0.25rem;
  text-transform: uppercase;
  text-align: center;
}
.table {
  width: 100%;
}
.table .tr {
  text-align: right;
}
.table .danger {
  color: var(--danger);
}
