.datasetSubjects {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.title {
  background: var(--primary-lightest);
  padding: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.datasetSubjects .item {
  float: left;
  width: 33%;
  padding: 0.5rem;
  height: 80px;
}
.datasetSubjects .item a {
  text-align: center;
  font-size: 0.75rem;
  color: var(--dark);
}
.datasetSubjects .item a img {
  height: 50px;
}
.datasetSubjects .item .itemName {
  text-transform: capitalize;
}
