.featuredPublication {
  background: white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.title {
  background: var(--primary-lightest);
  padding: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.table {
  width: 100%;
}
.table .timestamp {
  text-align: right;
  width: 100px;
}
.table a {
  font-size: 0.75rem;
  color: var(--dark);
}
