.homepageMenu .menuItem {
  padding: 0.5rem;
  text-align: center;
}
.homepageMenu .menuItem a {
  color: white;
  padding: 0.5rem;
  background: var(--secondary);
  display: block;
}
.homepageMenu .menuItem a:hover {
  box-shadow: 0 0 4px 1px #aaa;
}
.homepageMenu .menuItem a svg {
  font-size: 3rem;
  padding-top: 0.5rem;
}
.homepageMenu .menuItem a .title {
  font-weight: bold;
  padding: 0.25rem;
  margin-top: 0.5rem;
  text-transform:uppercase
}
