.newsPreview {
  background: white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.title {
  background: var(--primary-lightest);
  padding: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.item a {
  color: var(--dark);
}
.item .thumbnail {
  padding: 0.5rem;
}
.item .title {
  padding: 0.5rem 0;
  border-bottom: solid 1px #eee;
  /* font-size: 0.75rem; */
}
