.statLinks {
  margin: 0.75rem 0;
}
.statLinks a {
  padding: 0.5rem;
  color: white;
  text-align: center;
  display: block;
  margin: 0.75rem 0;
}
.statLinks a span {
  font-weight: bold;
  font-size: 0.75rem;
}
.statLinks a svg {
  font-size: 1rem;
  margin-left: 0.5rem;
}
.statLinks .visualStat {
  background: var(--primary-dark);
}
.statLinks .indonesiaStat {
  background: var(--primary);
}
