.footer {
  background-image: url(/img/bg-footer.jpg);
  color: white;
  padding-top: 1rem;
  background-color: var(--primary);
  background-position: center;
  background-size: cover;
}
.footer .footerContainer {
  padding: 0.5rem 2rem;
}
.footer .footerContainer .title {
  color: white;
  font-size: 24px;
  margin-bottom: 1rem;
}
.footer .footerContainer p {
  margin: 0.5rem 0;
}
