.footerBar {
  padding: 0.5rem 2rem;
  font-size: 14px;
  border-top: solid 1px var(--primary-lightest);
  margin-top: 0.75rem;
}
.footerBar a {
  padding: 0 1rem;
  color: white;
}
.footerBar .right {
  text-align: right;
}
