html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-family: arial;
  font-size: 13px;
}
a.default {
  color: #777;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

:root {
  --primary: #107cbc;
  --primary-dark: #0e6ca5;
  --primary-light: #1392dd;
  --primary-lightest: #ddf0fe;
  --secondary: #5686ab;
  --dark: #07232f;

  --danger: #ff4136;
  --success: #19a974;
  --warning: #ffd700;
}
.text-primary, .primary {
  color: #107cbc;
}
.bg-primary {
  background: #107cbc;
}
.bg-primary-lightest {
  background: #ddf0fe;
}
.bg-primary-light {
  background: #1392dd;
}
.bg-primary-dark {
  background: #0e6ca5;
}
.bg-secondary {
  background: #5686ab;
}
.bg-dark {
  background: #07232f;
}

.hover-underline:hover {
  text-decoration: underline;
}
.img-container {
  overflow: hidden;
  text-align: center;
  border: solid 1px #eee;
  padding: 5px;
  background: #fff;
  border-radius: 3px;
}
.img-container img {
  max-width: 100%;
  max-height: 100%;
}
