@import "~styles/color.css";

.HeaderBrand {
  background: var(--color-primary);
  text-align: center;
  line-height: 50px;
  padding: 0 1rem;
  float: left;
  width: 229px;
}
.HeaderBrand img {
  width: 100%;
}

.collapse {
  width: 70px;
}
