@import "~styles/color.css";

.Header {
  padding: 0;
  background: #eee;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  height: 56px;
}

.brand {
  display: flex;
}

.toggle {
  line-height: 56px;
  font-size: 1.5rem;
  padding: 0 15px;
  cursor: pointer;
  background: #ddd;
}
.toggle:hover {
  background: #ccc;
}
